h1,p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
}
p{
    font-size: 30px;
}
span{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;

}
.half-width img{
    width:80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.box{
    box-shadow: 5px 10px 8px lightblue;
    background-image: linear-gradient(white,gray);
    margin: 0px;
   
}
.dream-big{
    box-shadow: 2px 2px 2px powderblue;
    background-image: linear-gradient(rgba(97, 199, 233, 0.925),powderblue);
    margin: 0px;
   
}